@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
  padding: 15px 10px 10px 10px;
  position: fixed;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

.side-font {
  font-size: 14px;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 180px;
}

/* スクール予約関連 */
.setting {
  align-items: center;
  justify-content: center;
  /* overflow-y: auto; */
  padding: 0 50px 0 50px !important;
}

.text-center {
  margin: 20px 0 0 0;
}



.calendar-box {
  padding: 10px 0 10px 0;
  width: 900px;
  max-width: 1200px;
  margin: 0 0 50px 0;
}

.reserve-setting {
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px;
  background-color: #FFF;
}

.calendar-container {
  /* width: 100%; */
  background-color: #ECF1F6;
  /* padding: 40px; */
  margin: 20px 0 20px 0;
  margin-left: 180px;

}

.calendar-about {
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #FFF;
  max-width: 900px;
  /* カレンダー全体の最大幅を制限 */
  margin: 0 auto;
}

.calendar-confirm {
  margin-left: 180px;
}

.day_part {
  text-align: center;
}

.reserve-table {
  border: none !important;
}

.table-about {
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-header {
  background-color: #4CA7CE;
  color: white;
}

.w-15 {
  width: 15%;
}

.w-50 {
  width: 50%;
}

.user-info {
  padding: 10px;
}

.reserve-user-info {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  /* border-top: none !important; */
}

.user-info:nth-child(even) {
  background-color: #E8F6FA;
  /* 偶数行の背景色 */
}

.user-info:nth-child(odd) {
  background-color: white;
  /* 奇数行の背景色 */
}

.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.day-blank {
  background-color: #D3D3D3 !important;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 100% !important;
}

td {
  border: 1px solid #dee2e6;
  /* 縦と横の線を表示 */
}

/* カレンダー全体の横線と縦線 */
th,
td {
  border: 1px solid #dee2e6;
  /* 全体の縦線と横線 */
}

.calendar-cell {
  /* padding: 12px !important; */
  font-size: 13px;
}

.calendar table {
  table-layout: fixed;
  /* セルの幅を均等に揃える */
  width: 100%;
  /* テーブルの幅を親要素に合わせる */
}

.calendar-reserve-end {
  font-size: 12px;
  color: black;
}

.calendar-td .day {
  /* height: auto !important; */
}

.day {
  margin-bottom: 0;
}

.border-primary {
  margin-top: 10px !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 80%;
}

input[type="text"] {
  border: 0.5px solid #CACACA;
}

.past-day.day-sat {
  color: #0000FF;
}

.past-day.day-sun {
  color: #FF0000;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;

}

.pt-1 {
  margin: 0 100px 0 0 !important;
}

.form {
  width: 400px;
  padding: 0 20px 20px 20px;
  border-radius: 4%;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin: 90px 0 0 0;
  /* margin-bottom: 5px; */
}

.logo {
  width: 9%;
  display: inline-block;
}

.icon {
  width: 14%;
  height: 14%;
  margin: 0 10px 0 0;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 56%;
  padding: 30px 250px 30px 250px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  border: 5px solid #494949;
}

.modal-btn {
  display: flex;
  justify-content: space-between;
}

#confirmClose {
  background-color: #2f7df7;
  color: #FFF;
}

/* 掲示板 */
.post_view {
  margin-left: 180px;
}

.post-name {
  color: #9A9A9B;
  font-weight: 550;
}

.post-title {
  color: #494949;
  font-weight: 600;
}

.category-post {
  display: flex;
  justify-content: space-between !important;
}

.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.category-display {
  background-color: #4CA8CE;
  padding: 3px 5px 3px 5px;
  border-radius: 8px;
  display: inline-block;
  /* margin: 0 350px 0 0; */
  margin-bottom: 10px;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
  color: #999999;
}

.un_like,
.un_like_btn {
  /* color: #E2254D; */
}

.error_message {
  font-size: 12px;
  color: red;
}

.fa-comment {
  color: #999999;
}

.comment_counts {
  color: #494949;
}

.other_area {
  width: 30%;
  margin: 0 40px 0 0;
}

.post-btn {
  background-color: #4CA7CE;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}

.post-btn a {
  color: white;
  font-weight: 200;
}

.other-search {
  display: flex;
}

.other-search-box {
  background-color: #f9f9f9;
  width: 70%;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.other-search-font {
  background-color: #4CA7CE;
  border: none;
  color: white;
  width: 30%;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.category_btn-like {
  font-size: 13px;
  border-radius: 10px;
  /* padding: 0 5px; */
  margin: 0 1px 0 0;
  border: none;
  background: #D893AB;
  color: #FFF;
  width: 50%;
  height: 40px;
}

.category_btn-self {
  font-size: 13px;
  border-radius: 10px;
  /* padding: 0 5px; */
  border: none;
  background: #E3BE6C;
  color: #FFF;
  width: 50%;
  height: 40px;
}

.main-category {
  width: 100%;
  justify-content: space-between;
  border-bottom: #9A9A9B 0.7px solid;
}

.category-accordion {
  /* display: flex; */
  width: 100%;
}

.category-v {
  justify-content: space-between;
}

.sub-category-list {
  justify-content: space-between;
  /* border-bottom: #DCDFDE 1.5px solid; */
}

.sub-category-list {
  display: none;
  width: 100%;
}

.sub-category-list-v {
  display: block;
  /* width: 100%; */
  color: #494949;
  margin: 0 40px 0 20px;
  border-bottom: #9A9A9B 0.7px solid;
  font-size: 14px;
}

.category-v {
  display: flex;
  margin: 0 0 0 110px;
  font-size: 20px;
  height: 8px;
  align-items: center;
  line-height: 1;
  transition: transform 1s ease, margin 1s ease;
}

.category-v.active {
  transform: rotateX(-180deg);
  position: relative;
}

.main-category.active .sub-category-list {
  display: block;
}

.category-header {
  margin: 0 0 5px 0;
  color: #494949;
  font-size: 16px;
}

.toggle-arrow {
  float: right;
  transition: transform 0.2s ease;
}

.toggle-arrow.up {
  transform: rotate(180deg);
  /* 開いた状態の矢印の回転 */
}


/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  /* display: flex; */
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;

}

.edit-button {
  background-color: #007bff;
  color: white;
  padding: 6.5px 14px;
  /* padding: 5px 5px 0 5px; */
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin: 0 3px 0 0;
}

.delete-button {
  background-color: #e0254d;
  color: white;
  padding: 6.5px 14px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.selected-category {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
  padding: 10px;
  border-left: 5px solid #007bff;
  background-color: #f0f8ff;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
  width: 120%;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

.category-display-detail {
  background-color: #4CA8CE;
  padding: 3px 5px 3px 5px;
  border-radius: 8px;
  display: inline-block;
  margin: 0 350px 0 0;
  margin-bottom: 10px;
}

.sub-category-text {
  color: #fff;
  font-size: 12px;
}

.post-edit-modal {
  width: 500px;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 10px auto;
  /* height: 80vh; */
  overflow: scroll;
  /* padding: 10px; */
  /* background: #FFF; */
  border-radius: 5px;
  margin-left: 220px;
}

.reserve_users_area span {
  font-size: 10.5px;
  font-weight: 500;
}

.one_person {
  width: 22%;
  height: 210px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3px 10px 10px 20px;
  margin: 9px;
  /* text-align: center; */
}

.search-title {
  font-size: 20px;
  font-weight: 100;
}

.search {
  color: #385372;
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-form {
  border-radius: 5px;
  background-color: #E1E5E9;
  border: 0px;
  height: 50px;
  width: 250px;
  padding: 0 0 0 15px;
}

.search-form::placeholder {
  color: #979999;
}

.search-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.search-select {
  border-radius: 5px;
  background-color: #E1E5E9;
  border: 0px;
  height: 30px;
  width: 100px;
  padding: 0 0 0 15px;
  font-weight: lighter;
  color: #2F3535;
}

.search-button {
  background-color: #4CA8CE;
  border: 0px;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  width: 250px;
}

.button {
  display: block;
  text-align: center;
  padding: 0 65px 0 0;
}

.reset-button {
  border: 0px;
  color: #4CA8CE;
  margin: 0 auto;
}

.accordion {
  display: flex;
  width: 250px;
  border-bottom: #DCDFDE 1.5px solid;
  padding-bottom: 5px;
}

.search_conditions span {
  cursor: pointer;
}

.v {
  display: flex;
  margin: 0 0 0 110px;
  font-size: 20px;
  height: 8px;
  align-items: center;
  line-height: 1;
  transition: transform 1s ease, margin 1s ease;
}

.v.active {
  transform: rotateX(-180deg);
  position: relative;
}

.search_conditions_inner {
  display: none;
}

.sex-radio {
  margin: 0 0 0 5px;
}

.search-role {
  display: flex;
  flex-direction: column;
}

.engineer {
  border-radius: 5px;
  background-color: #E1E5E9;
  border: 0px;
  height: 30px;
  width: 130px;
  padding: 0 0 0 15px;
  font-weight: lighter;
  color: #2F3535;
}

.search-engineer {
  align-items: center;
}

.subject-options {
  display: flex;
  gap: 10px;
  /* 各教科間の隙間を調整 */
}

.search-engineer label {
  margin-left: 5px;
}

.subject_edit_btn {
  font-size: 12px;
  color: #4CA8CE;
  cursor: pointer;
}

.profile-name {
  padding: 15px;
}

.profile-accordion {
  display: flex;
  width: 250px;
}

.profile-v {
  display: flex;
  margin: 0 0 0 15px;
  font-size: 18px;
  height: 8px;
  align-items: center;
  color: #4CA8CE;
  transition: transform 1s ease, margin 1s ease;
}

.profile-v.active {
  transform: rotateX(-180deg);
  position: relative;
}

.subject_inner {
  display: none;
}

.subject-input {
  display: flex;
  align-items: center;
}

.btn-primary {
  margin: 20px 0 0 15px;
}

.m-15 {
  margin-bottom: 15px;
}

.m-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.m-20 {
  margin-bottom: 20px;
}

.m-25 {
  margin-bottom: 25px;
}

.h-15 {
  height: 15px;
}
